<h1>Convert <%= @main_country %> to <%= @converting_country %></h1>

<p>1 <%= @main_country %> equals <%= @rate %> <%= @converting_country %>.</p>

<p>Go <a href="/<%= @main_country %>">back</a>.</p>
